html, 
body {
    overflow-x: hidden;
}

.overlay-black:after {
    content: '';
    background: rgba(0,0,0,0.3);
    @apply absolute top-0 left-0 w-full h-full;
}

.slider-image .slick-slide{
    @apply mx-2;
}

.wrapper {
    @apply max-w-[1440px] mx-auto w-11/12
}